:root{
    --clr-primary-300:#b58b3c ;
    --clr-primary-400:#e4e3e1;

    --clr-primary-100:#ffffff;
    --clr-neutral-900:#2c2c2c;
    --ff-primary:"open sans", sans-sarif;
    --ff-secondary:"gotic" 

}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height:  1.5em;
}
body{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
    background-color: va
    
}
img{
    display: block;
    max-width: 100%;
}

h1,
h2{
    font-family:var(--ff-primary);
    font-weight: 900;
    line-height:1;
    color: var(--clr-primary-100);
}
h1,h2,p{
    margin-bottom: 1em;
}

/* workin on navbar */
.navbar{
    background-color: #fcd268;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   

}
nav li{
    
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1rem;
    


}
nav  a{
    text-decoration: none;
    color: var(--clr-neutral-900);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.logo{
    max-width:  8%;
    top: 0%;

}

.items-important{
    background: #fdd052;
    border: rgb(0, 0, 0) solid ;
    border-radius: 25px;
   
   
}
.items-important:hover{
    background-color:#fddf8e ;
}
a:hover {
    color: rgb(233, 146, 15);
}
a:active{
    color: lightgreen;
}
header h1 {
    padding-top: 20%;
}
header p{
    font-size: 55%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.banner{
    background-image: url(https://live.staticflickr.com/7289/27744200332_3b37087b24_b.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    max-width: 100%;
    background-size: 100%;
    height: 90%;
    background-position-y: center;
    padding: 0%;
    
}

    
    
.clients{
    text-align: center;
    margin: 25px 110px 30px 110px;
    display: block;
    padding: 10px;

}
.clients h1{
    font-size: 30px;
}
.clients p{
    font-size: 20px;
    padding-top: 10px;
}
.container h1 {
    text-align: center;

}
.container p{
    text-align: center;
    margin-top: -30px;
    padding-bottom: 30px;
}


.ocean {
    display: grid;
    grid-template-columns: auto auto;
}
.piscine{
    display: grid;
    grid-template-columns: auto auto;
}
.jardin{
    display: grid;
    grid-template-columns: auto auto;
}
.a{
    margin-left: 150px;
    width: 100%;
    
}
.vocn{
    border-radius: 35px;
}
.vjan{
    border-radius: 35px;
}
.vpie{
    border-radius: 35px;
}
.b{
    align-self: center;
    text-align: center;
    margin-left: 200px;
    width: 50%;
}
.a1{
    margin: 20px 300px 20px 1px;
    width: 77%;
}
.b1{
    align-self: center;
    text-align: center;
    margin-left: 150px;
    width: 70%;
}
.a2{
    margin: 50px 1px 30px 150px;
    width: 100%;
}
.b2{
    align-self: center;
    text-align: center;
    margin: 30px  100px 1px 270px;
    width: 50%;
}

button{
    background-color: bisque;
    padding: 10px;
    border-radius: 20px;
}

.sejour{
    text-align: center;
    margin: 25px 210px 30px 210px;
    display: block;
    padding: 10px;
}
.activité{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
    
}
.sago{
    margin: 50px 2px 10px 70px;
    width: 85%;
    border-radius: 35px;
}
.mvev{
    margin: 50px 70px 10px 2px;
    width: 85%;
    border-radius: 35px;
}
.sds{
    margin: 50px 2px 10px 70px;
    width: 85%;
    border-radius: 35px;
}
.btas{
    margin: 50px 70px 10px 2px;
    width: 85%;
    border-radius: 35px;
}
.ple{
    margin-top: 50px;
    border-radius: 35px;
}
.chasse{
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    
}
.a5{
    text-align: center;
}
.b5{
    text-align: center;
    margin-bottom: 30px;

}
 
.sejour p{
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding-left: 10px;
    margin-top: 10px;
    
}
.vueo h1 p{ 
    display: inline-block;
}
footer ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    border: rgb(20, 20, 18) 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
footer li{
 
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1rem;
    list-style: none;

}
footer a{
    text-decoration: none;
    color: var(--clr-primary-100);

}
.footer-nav{
    margin-inline: auto;
    width: 100%;
    background: var(--clr-neutral-900);

}
.adress{
    display: flex;
    flex-direction: row;
    flex-basis: 35%;

}
@media only screen and (max-width: 1080px) and (min-width: 300px) {
    .clients{
        width: 100%;
        text-align: center;
        min-width: 50px;
    }
    .chambre{
        display: flex;
        flex-direction: column;
        min-width: 50px;
    }
    .activité{
        display: flex;
        flex-direction: column;
        min-width: 50px;
    }
    .ocean{
        display: flex;
        flex-direction: column;
        min-width: 50px;
        
    }
    .piscine{
        display: flex;
        flex-direction: column-reverse;
        min-width: 50px;
    }
    .jardin{
        display: flex;
        flex-direction: column;
        min-width: 50px;
    }
    .sejour{
        min-width: 50px;
    }
    ul{
        width: 100%;
    }
    .clients{
        text-align: center;
        
        display: block;
        padding: 10px;
        margin-left: 45px;
        width: 85%;
    
    }
    .a2{
        text-align: center; 
        display: block;
        padding: 10px;
    }
        .a{
            margin: 10px 10px 10px 10px ;
        width: auto;
            
        }
        .b{
            align-self: center;
            text-align: center;
            margin: 10px 10px 10px 10px ;
        width: auto;
        }
    .a1{
        margin: 10px 10px 10px 10px ;
        width: auto;
    }
    .b1{
        align-self: center;
            text-align: center;
            margin: 10px 10px 10px 10px ;
        width: auto;
    }
    .a2{
        margin: 10px 10px 10px 10px ;
        width: auto;
    }
    .b2{
        align-self: center;
            text-align: center;
            margin: 10px 10px 10px 10px ;
            width: auto;
    }
    .sejour{
        margin: 10px 10px 10px 10px ;
        width: auto;
    }
    .sago{
        margin: 10px 10px 10px 10px ;
        width: auto;
    }
    .activité{
        margin: 10px 10px 10px 10px ;
        width: auto;
    }
    .activité div{
        margin: 10px 10px 10px 10px ;
        width: auto;
    }
    

}
@media only screen and (max-width: 480px) and (min-width: 300px) {

   .adress{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
   }
   .sport{
       margin-left: 5px;
   }
   .navbar ul li{
       font-size: 10px;
   }
   .sds{
    margin: 10px 5px 10px 5px ;
width: auto;
    
}
   .clients{
    text-align: center;
    
    display: block;
    padding: 10px;
    margin: 10px 5px 10px 5px ;
    width: auto;

}
.a2{
    text-align: center; 
    display: block;
    padding: 10px;
}
    .a{
        margin: 10px 5px 10px 5px ;
    width: auto;
        
    }
    .b{
        align-self: center;
        text-align: center;
        margin: 10px 5px 10px 5px ;
    width: auto;
    }
.a1{
    margin: 10px 5px 10px 5px ;
    width: auto;
}
.b1{
    align-self: center;
        text-align: center;
        margin: 10px 5px 10px 5px ;
    width: auto;
}
.a2{
    margin: 10px 5px 10px 5px ;
    width: auto;
}
.b2{
    align-self: center;
        text-align: center;
        margin: 10px 5px 10px 5px ;
        width: auto;
}
.sejour{
    margin: 10px 5px 10px 5px ;
    width: auto;
}
.sago{
    margin: 10px 5px 10px 5px ;
    width: auto;
}
.activité{
    margin: 10px 5px 10px 5px ;
    width: auto;
}
.activité div{
    margin: 10px 5px 10px 5px ;
    width: auto;
}

}