:root{
    --clr-primary-300:#b58b3c ;
    --clr-primary-400:#e4e3e1;

    --clr-primary-100:#ffffff;
    --clr-neutral-900:#2c2c2c;
    --ff-primary:"open sans", sans-sarif;
    --ff-secondary:"gotic" 

}


*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    line-height:  1.5em;
}
body{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}
img{
    display: block;
    max-width: 100%;
}
.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}
hr{
    max-width: 20%;
    display: flex;
    margin: auto;
    border: none;
    height: 5px;
    background:linear-gradient(to right,#b3aca0,#b58b3c );
}

.container-layouts{
    display: flex;
    align-items: center;
    
}
.layouts {
    max-width:100% ;
    height: auto;
    border: #ffffff;
}

h1,
h2{
    font-family:var(--ff-primary);
    font-weight: 900;
    line-height:1;
    color: var(--clr-primary-100);
}
h1,h2,p{
    margin-bottom: 1em;
}

/* workin on navbar */
.navbar{
    background-color: #fcd268;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;


}
nav ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   

}
nav li{
    
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1rem;
    


}
nav  a{
    text-decoration: none;
    color: var(--clr-neutral-900);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.logo{
    max-width:  8%;
    top: 0%;

}

.items-important{
    background: #fdd052;
    border: rgb(0, 0, 0) solid ;
    border-radius: 25px;
   
   
}
.items-important:hover{
    background-color:#fddf8e ;
}
a:hover {
    color: rgb(233, 146, 15);
}
a:active{
    color: lightgreen;
}

header h1 {
    padding-top: 20%;
}
header p{
    font-size: 55%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.banner{


    background-image: url(https://live.staticflickr.com/7289/27744200332_3b37087b24_b.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    max-width: 100%;
    background-size: 100%;
    height: 90%;
    background-position-y: center;
    padding: 0%;
    
}

@media (min-width:40em) {

    .banner{

        background-image: url(https://live.staticflickr.com/7289/27744200332_3b37087b24_b.jpg);
        background-repeat: no-repeat;
        max-width: 100%;
        background-size: 100%;
        height:90%;
        padding: 0%;
     
    }
    header,
    section{
    padding: 7rem 0 ;
    }
}
.first-part{
    background-color: var(--clr-neutral-900);
}
.bg-primary{
    background-color: var(--clr-primary-100);
}
.bg-secondary{
    background-color: var(--clr-primary-400);
}
.bg-tertiary{
    color: var(--clr-primary-100);
    background-color: var(--clr-neutral-900);

}
.bg-primary h2,
.bg-secondary h2,
.bg-tertiary h2{
    color: var(--clr-primary-300);

}

.text-center{
    text-align: center;
    color: #ffffff;
}
.center a {
    text-decoration: none;
    color: var(--clr-primary-300);
    
}
.center{

    text-align: center;
    font-family: var(--ff-secondary);
}
.text-center-resto{
    color: #2c2c2c;
    text-align: center;
}
header,
section{
    padding:3rem 0 ;
    text-align: justify;
}


.title{
    max-width: 50rem;
    font-size: 150%;
    padding: 15%;
}
.container{
    margin-inline: auto;
    width: min(90% , 70.5rem);
    height: auto;
   
  
}
.responsive-resto{
    display: flex;
    justify-content:center;

}

    



@media (min-width:40em){
    .restaurant{
        flex-direction: row;
    }

    .restaurant>*{
        flex-basis: 100%;
    }
    .restaurant>* + *{
        margin-left:2em;
    }
}

.split{
    display: flex;
    flex-direction: column;
}
@media (min-width:40em){
    .split{
        flex-direction: row;
    }

    .split>*{
        flex-basis: 100%;
    }
    .split>* + *{
        margin-left:2em;
    }
}
footer ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    border: rgb(20, 20, 18) 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
footer li{
 
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1rem;
    list-style: none;

}
footer a{
    text-decoration: none;
    color: var(--clr-primary-100);

}
.footer-nav{
    margin-inline: auto;
    width: 100%;
    background: var(--clr-neutral-900);

}
.adress{
    display: flex;
    flex-direction: row;
    flex-basis: 35%;

}

